/*Image Classes*/


#contact-img {
    min-height: 100vh;
    min-width: 100%;
    z-index: -1;
    background-image: url("../img/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#title-img{
    background-attachment: fixed;
    background-image: url("../img/laptop.jpg");
    background-position: bottom;
    background-size: cover;
   min-height: 100vh;
    min-width: 100%;
    margin-bottom: 0px;
    z-index: -1;
}
#liam-img{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/nerd.jpg");
    background-position: left;
    min-height:auto;
    min-width: auto;
    margin-bottom: 0px;
}

.white-lettering{
    color: white;
}


.vertical-align-center{
    padding-top:40%;
    text-align: center;
    padding-bottom: 20%;
}
.tall{
    height:10vh;
    font-size: 5vh;
}
