<!-- Image Classes-->
.contact-img{
    min-height: 100vh;
    min-width: 100%;
    z-index: -1;
    background-image: url("../img/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.masthead-img{
    min-height: 100vh;
    min-width: 100%;
    z-index: -1;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.white-lettering{
    color: white;
}


.vertical-align-center{
    padding-top:70%;
    text-align: center;
    padding-bottom: 20%;
}
    
